#valet.open ~ div,
#valet.open ~ section,
#valet.open ~ header,
#valet.open ~ footer {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#valet {
  width: 0px;
  min-height: 0px;
  background: rgba(255,255,255,0);
  position: absolute;
  z-index: 10000;
  top: 0px;
  padding: 4% 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 200;
  box-sizing: border-box;
  -webkit-transition: background 0.3s, opacity 0.3s;
  transition: background 0.3s, opacity 0.3s;
  opacity: 0;
}

#valet.open {
  width: 100%;
  min-height: 100%;
  top: 0px;
  background: rgba(30,30,30,0.6);
  opacity: 1;
}

.valet-inner {
  background: #fff none repeat scroll 0 0;
  border-bottom: medium none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1% 4%;
  margin: 0 4%;
  opacity: 0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}
#valet.open .valet-inner {
  opacity: 1;
}

.valet-form {
  width: 0px;
  height: 0px;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

#valet.open .valet-form {
  height: 8rem;
  width: 100%;
  opacity: 1;
}

.valet-input {
  width: 100%;
  height: 100%;
  font-weight: 400;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 0.8em;
  color: #0080D1;
  background: transparent url(../images/magnifier.svg) no-repeat center right;
  background-size: 64px;
}

.valet-input:disabled{
  font-weight:100;
  color:#aaaaaa;
  letter-spacing:-4px;
}

.valet-input::-ms-clear { /* remove cross in IE */
    display: none;
}

.valet.hideInput .valet-input {
  color: transparent;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#valet.open .valet-input {
  font-size: 5em;
  line-height: 5em;
}

/* placeholder */
.valet-input::-webkit-input-placeholder {
  color: #666;
}
.valet-input:-moz-placeholder {
  color: #666;
}
.valet-input::-moz-placeholder {
  color: #666;
}
.valet-input:-ms-input-placeholder {
  color: #666;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="search"] { /* reset normalize */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.valet-input:focus {
  outline: none;
}

/*.valet-submit {
  display:block;
  position: absolute;
  width: 80px;
  height: 80px;
  text-indent: -200px;
  overflow: hidden;
  right: 0;
  top: 50%;
  background: transparent url(../images/magnifier.svg) no-repeat center center;
  background-size: 100%;
  border: none;
  pointer-events: none;
  transform-origin: 50% 50%;
  opacity: 0;
  -webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
  transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

#valet.open .valet-submit {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
  transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}*/

.valet-close {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
}

#valet.open .valet-close {
  background-color: #fff;
  cursor: pointer;
  height: 80px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 7%;
  text-indent: 100%;
  top: 8%;
  width: 100px;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#valet.open .valet-inner:hover .valet-close {
  opacity: 1;
}

.valet-close::before,
.valet-close::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  border-radius: 3px;
  opacity: 0.2;
  background: #000;
}

.valet-close:hover.valet-close::before,
.valet-close:hover.valet-close::after {
  opacity: 1;
}

.valet-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.valet-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#valet .ui-autocomplete{
  background: transparent none repeat scroll 0 0;
  border: medium none;
  left: 0 !important;
  margin: 0;
  padding: 0;
  pointer-events: none;
  position: relative;
  top: 2rem !important;
  width: 100% !important;
}

#valet .ui-autocomplete .ui-menu-item{
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
  display: block;
  float: left;
  margin: 1%;
  padding: 10px;
  width: 28.66%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

#valet .ui-autocomplete .ui-menu-item a{
  color:#ACACAC;
  border:none;
}

#valet .ui-autocomplete .ui-menu-item strong{
  font-size:22px;
  line-height:22px;
  color:#7F7F7F;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

#valet .ui-autocomplete .ui-menu-item em{
  font-size: 12px;
  line-height:12px;
  color:#ADADAD;
}

#valet .ui-autocomplete .ui-state-focus{
  background:#7F7F7F;
}

#valet .ui-autocomplete .ui-state-focus a strong{
  color: #0080D1;
}
