$background-color: #f1f1f1;
$primary-color: #0080d1;
$disabled-color: #ddd;
$grey-color: #c2c2c2;

$white: #fff;
$black: #000;

.valet {
  background: $background-color;
  border: 4px solid $white;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  position: fixed;
  z-index: 10000;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  transform-origin: 100% 0;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.7, 0, .3, 1);

  * {
    box-sizing: border-box;
  }

  .valet-form {
    width: 80%;
    height: 110px;
    margin: 0 auto;
    position: relative;
    transform: translate3d(0, 3em, 0);
  }

  .valet-input {
    width: 100%;
    height: 100%;
    font-weight: 700;
    padding: 0;
    border: 0;
    color: $primary-color;
    background: transparent url('../images/magnifier.svg') no-repeat center right;
    font-size: 90px;
    line-height: 100px;
    box-shadow: none;

    &::placeholder {
      color: $grey-color;
    }

    &:disabled {
      font-weight: 100;
      color: $disabled-color;
      letter-spacing: -4px;
    }

    &:focus {
      outline: none;
    }

    // remove cross in IE
    &::-ms-clear {
      display: none;
    }
  }

  .valet-close {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transform: scale3d(0, 0, 1);

    &:hover {

      &:before,
      &:after {
        opacity: 1;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      border-radius: 3px;
      opacity: .2;
      background: $black;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &.open {
    visibility: visible;
    opacity: 1;

    .valet-close {
      opacity: 1;
      pointer-events: auto;
      transform: scale3d(1, 1, 1);
      transition: opacity .3s, transform .3s;
      transition-delay: .4s;
    }
  }

  .valet-results {
    position: relative;
    transform: translate3d(0, -6em, 0);
  }

  .ui-autocomplete {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    top: 180px;
    pointer-events: none;

    .ui-state-focus {
      background: $background-color;
      border: 0;
      margin-left: 0;

      strong {
        color: $primary-color;
      }
    }
  }

  .ui-menu-item {
    margin: 0 0 10px;
    background: lighten($grey-color, 15%);
    border-radius: 4px;
    padding: 10px;
    border: 0;
    transition: background .3s;

    a {
      color: darken($grey-color, 20%);
      border: 0;
    }

    strong {
      font-size: 22px;
      line-height: 22px;
      color: darken($grey-color, 30%);
      transition: color .3s;
    }

    em {
      font-size: 12px;
      line-height: 12px;
      color: darken($grey-color, 10%);
    }
  }
}
