///////////////////////////
/// Media Queries
///////////////////////////

@mixin xlarge-device-size {
  @media only screen and (min-width : 120em) {
    @content;
  }
}

@mixin large-device-size {
  @media only screen and (min-width : 80.001em) {
    @content;
  }
}

@mixin medium-device-size {
  @media only screen and (min-width: 45.001em) {
    @content;
  }
}

@mixin small-device-size {
  @media only screen and (max-width: 45em) {
    @content;
  }
}

///////////////////////////
/// Font
///////////////////////////
@mixin valet-font {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  font-smoothing: always;
  line-height: $font-size-inner;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
