//////////////////////////////////
/// Variables
//////////////////////////////////

//Font(s)
$font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-size: 15px; // it's all relative

//Color Variables
$bg-color: #f1f1f1;
$primary-color: #0080d1;
$disabled-color: #ddd;

$grey-color: #c2c2c2;
$white-color: #fafafa;
$black-color: #0a0a0a;