//////////////////////////////////
/// Variables
//////////////////////////////////

//Font(s)
$font-family: 'Open Sans', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$font-size: 15px; // it's all relative
$font-size-inner: 1em !default;

//Color Variables
$bg-color: #f1f1f1;
$primary-color: #0080d1;
$disabled-color: #ddd;
$grey-color: #c2c2c2;
$white-color: #fafafa;
$black-color: #0a0a0a;

//Spacing Variables
$valet-padding: 1em;
$valet-margin: 1em;

//Design Styles
$border-radius: 3px;