.valet {
  @include valet-font;
  z-index: 9999;
  position: fixed;
  // overflow: hidden;
  top: 0;
  left: -1000px;
  width: 0;
  height: 100vh;
  box-shadow: 0 0 0 transparentize($black, 1);
  background-color: transparentize($black, 0.4);
  backdrop-filter: blur(4px) grayscale(100%);

  * {
    box-sizing: border-box;
  }

  .valet-inner {
    position: relative;
    background: transparent;
    font-size: $font-size-inner;
    opacity: 0;
    width: 0;
    margin: 0;
    padding: 0;
    transition: opacity 300ms, width 200ms;
  }

  // when Valet is active
  &.open {
    width: 100%;
    left: 0;

    .valet-inner {

      @include medium-device-size {
        width: 50%;
      }

      @include large-device-size {
        width: 40%;
      }

      @include xlarge-device-size {
        width: 30%;
      }

      opacity: 1;
      width: 90%;
      box-shadow: 0 2px 12px transparentize($black, 0.6);
    }
  }

  // overlay specific styling
  &.overlay {

    .valet-inner {
      float: none;
      margin: ($valet-margin * 5) auto;
    }
  }
}
