///////////////////////////
/// Valet form specific styling
///////////////////////////
.valet {

  .valet-form {
    margin: 0 auto;
    position: relative;
    padding: $valet-padding;
    background: $bg-color;
    border-radius: $border-radius;
    z-index: 2;
    // transform: translate3d(0, 3em, 0);
  }

  .valet-input {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: $primary-color;
    font-size: $font-size-inner * 3;
    box-shadow: none;
    border: 0;
    background: transparent url('../images/magnifier.svg') no-repeat center right;
    background-size: $font-size-inner;

    &::placeholder {
      color: $grey;
    }

    &:disabled {
      font-weight: 100;
      color: $disabled-color;
      letter-spacing: -4px;
    }

    &:focus {
      outline: none;
      border: 0;
      box-shadow: none;
      background-color: transparent;
    }

    // remove cross in IE
    &::-ms-clear {
      display: none;
    }
  }

  &.left,
  &.right {

    .valet-form {
      margin: $valet-margin;
      box-shadow: 0 2px 4px rgba($black, 0.33);
    }
  }
}
