///////////////////////////
/// Valet form specific styling
///////////////////////////
.valet {

  .valet-form {
    margin: 0 auto;
    position: relative;
    padding: $valet-padding * 1.25;
    background: $bg-color;
    border-radius: $border-radius;
    z-index: 2;
    // transform: translate3d(0, 3em, 0);
  }

  .valet-input[type=search] {
    @include valet-font;
    font-size: $font-size-inner * 3;
    line-height: $font-size-inner * 4;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: $primary-color;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background: transparent url('../images/magnifier.svg') no-repeat center right;
    background-size: $valet-padding $valet-padding;

    &::placeholder {
      color: $grey;
    }

    &:disabled {
      font-weight: 100;
      color: $disabled-color;
      letter-spacing: -4px;
    }

    &:focus {
      outline: none;
      border: 0;
      box-shadow: none;
      background-color: transparent;
    }

    // remove cross in IE
    &::-ms-clear {
      display: none;
    }
  }
}
