.valet-results {

  .ui-menu-item {

    &.ui-state-focus {
      i {
        opacity: 0.4;
      }
    }

    i {
      position: absolute;
      font-size: $font-size-inner * 3.33;
      right: $valet-margin / 3;
      opacity: 0.25;
      transition: opacity 300ms;
    }
  }
}
