///////////////////////////
/// Valet results specific styling
///////////////////////////
.valet-results {
  position: relative;

  .ui-autocomplete {
    width: 100% !important;
    margin: $valet-margin 0;
    padding: 0;
    border: 0;
    background: transparent;
    top: 0 !important;
    left: 0 !important;
    pointer-events: none;
  }

  .ui-menu-item {
    margin: 0 auto $valet-margin;
    background: darken($bg-color, 5%);
    border-radius: 4px;
    padding: $valet-padding;
    border: 0;
    width: 95%;
    display: block;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba($black, 0.15);
    transition: background 200ms, width 200ms;

    &:nth-child(4) {
      opacity: 0.8;
    }

    &:nth-child(5) {
      opacity: 0.6;
    }

    &:nth-child(6) {
      opacity: 0.4;
    }

    &:nth-child(7) {
      opacity: 0.2;
    }

    &:nth-child(8 + 1) {
      opacity: 0;
    }

    a {
      color: darken($grey, 20%);
      border: 0;
    }

    strong {
      font-size: $font-size-inner * 1.33;
      line-height: $font-size-inner * 1.33;
      color: darken($grey, 30%);
      font-weight: 500;
    }

    small {
      padding: 0;
      line-height: $valet-padding * 2;
      font-size: $font-size-inner * 0.8;
      border-radius: $border-radius;
      background-color: darken($bg-color, 5%);
      overflow: hidden;
      white-space: nowrap;
      max-height: 0;
      margin-top: 0;
      display: block;
      color: darken($grey, 30%);
      transition: max-height 200ms, padding 200ms, margin 200ms;
    }

    em {
      font-size: $font-size-inner * 0.9;
      line-height: $font-size-inner * 1.5;
      color: darken($grey, 10%);
      display: block;
    }

    &.ui-state-focus {
      border: 0;
      box-shadow: 0 2px 5px rgba($black, 0.4);
      width: 100%;
      opacity: 1 !important;
      //use important to override jquery+seven theme defaults
      background: $bg-color !important;
      margin: 0 auto $valet-margin !important;

      strong {
        color: $primary-color;
      }

      em {
        color: darken($grey, 25%);
      }

      small {
        max-height: $font-size-inner * 3;
        margin-top: $valet-padding * 0.75;
        padding: ($valet-padding / 3) ($valet-padding * 2) ($valet-padding / 3) ($valet-padding);
      }
    }
  }

  //prevent active flicker of first result while search
  &.searching {

    li:first-child {
      border: 0;
      box-shadow: 0 2px 5px rgba($black, 0.4);
      width: 100%;
      opacity: 1 !important;
      //use important to override jquery+seven theme defaults
      background: $bg-color !important;
      margin: 0 auto $valet-margin !important;

      strong {
        color: $primary-color;
      }

      em {
        color: darken($grey, 25%);
      }

      small {
        max-height: $font-size-inner * 3;
        margin-top: $valet-padding * 0.75;
        padding: ($valet-padding / 3) ($valet-padding * 2) ($valet-padding / 3) ($valet-padding);
      }
    }
  }
}
