.valet {

  .valet-inner {

    div, span, p, a, em, small, strong, form {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
    }

    input {
      margin: 0;
      padding: 0;
      line-height: $valet-padding;
      appearance: none;
    }

    a {
      text-decoration: none;
      text-shadow: none;

      &:hover {
        text-decoration: none;
        text-shadow: none;
      }

      &:focus {
        outline: none;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }
}
