.valet {

  .toolbar-fixed &,
  .toolbar-vertical & {

    .valet-open {
      display: none !important;
    }
  }

  // Close Valet link
  .valet-close {
    width: $font-size-inner * 4;
    height: $font-size-inner * 4;
    position: absolute;
    padding: $valet-padding;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    background-color: $primary-color;
    transition: opacity 200ms, right 300ms, left 300ms, top 300ms, background-color 200ms;
    transition-delay: 0;
    z-index: 1;
    top: $valet-margin * 1.25;

    @include medium-device-size {
      right: 0;
    }

    &:hover {

      &::before,
      &::after {
        opacity: 1;
        background-color: lighten($primary-color, 50%);
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 3px;
      height: $valet-margin * 2;
      top: $valet-margin;
      left: 50%;
      border-radius: 3px;
      opacity: 1;
      background: lighten($primary-color, 33%);
      transition: background-color 200ms;
      transition-delay: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  // Open Valet link - Not sure if this is needed anymore since we integrate with default toolbar
  .valet-open {
    position: fixed;
    width: 90%;
    left: 5%;
    text-align: center;
    bottom: $valet-margin;
    padding: $valet-padding;
    color: $white;
    background-color: $primary-color;
    border-radius: $border-radius;
    opacity: 1;
    box-shadow: 0 2px 12px rgba($black, 0.4);
    font-weight: bold;
    font-size: $font-size-inner * 1.25;
    transition: opacity 300ms, background-color 300ms;
    display: none;

    @include small-device-size {
      display: block;
    }

    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }

  &.open {

    .valet-close {
      opacity: 1;
      pointer-events: auto;
      right: 0;
      transition-delay: 200ms;
      top: -$valet-margin * 4.5;

      @include medium-device-size {
        right: -$valet-margin * 4;
        top: $valet-margin * 1.25;
      }
    }

    .valet-open {
      opacity: 0;
    }
  }

  // left specific styling
  &.overlay {

    .valet-close {
      border-radius: $border-radius;

      @include medium-device-size {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
  }

  &.left {

    .valet-close {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
      top: $valet-margin * 1.5;
    }
  }

  // right specific styling
  &.right {

    .valet-close {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
      right: auto;
      left: -$valet-margin * 4;
      top: $valet-margin * 1.5;
    }
  }
}
