//colors
$color_alto_80_approx: rgba(220, 220, 220, 0.8);
$white: rgba(255, 255, 255, 1);
$black_20: rgba(0, 0, 0, 0.2);
$color_lochmara_approx: rgba(0, 128, 209, 1);
$color_silver_chalice_approx: rgba(170, 170, 170, 1);
$color_storm_dust_approx: rgba(102, 102, 102, 1);
$black: rgba(0, 0, 0, 1);
$color_suva_gray_approx: rgba(136, 136, 136, 1);
$black_50: rgba(0, 0, 0, 0.5);