{#
/**
 * @file
 * Default theme implementation to display the Valet search block.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class="valet-inner">
    <form class="valet-form">
      <input class="valet-input" type="search" placeholder="Search..."/>
    </form>
    <div id="valet-results" class="valet-results"></div>
    <div class="valet-close"></div>
  </div>
  <a class="valet-open-link" href="#" aria-label="Open Valet"><span>Open Valet</span></a>
</div>
